.header{
    height: 720px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,15,0.7),rgba(4,9,15,0.7)),url(images/photo-1523050854058-8df90110c9f1.avif);  
    background-size: cover;
}

.navbar{
    width: 90%;
    margin: 0px auto 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.name-logo{
    display: flex;
}

.name{
    color: white;
    margin: 12px 10px 0px;
    font-size: 24px;
}

.nav-logo{
    height: 60px;
    width: 60px;
}

.nav-items{
    display: flex;
    text-decoration: none;
}

.nav-item{
    margin: 16px 0px 0px 12px;
    font-size: 17px;
    text-decoration: none;
    color: white;
}

.nav-item:hover{
    text-decoration: underline;
}


.header-text{
    color: white;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .navbar{
        width: 95%;
        padding: 10px;
    }

    .name{
        display: none;
    }
    
    .nav-logo{
        height: 50px;
        width: 50px;
    }
 
    
    .nav-item{
        margin: 16px 0px 0px 12px;
        font-size: 16px;
        text-decoration: none;
        color: white;
    }
}